{% extends 'MiModeloDeClientes/padre.html'%}

{% load static %}

{% block content %}

<div class="py-5 bg-image-full text-center" style="background-image: url('https://w.forfun.com/fetch/bd/bdc7ee51c168376ab759faef8aa37aeb.jpeg?w=1470&r=0.5625')">
    <h1 style="text-align: center; color: cornsilk;">AGREGAR METODO DE PAGO. </h1>
    {% if mi_formulario.errors %}
        <p style="color: red;"> Revisar datos.</p>
    {% endif %}
    <form action="" method="post">
        {% csrf_token %}
        <table>
            {{mi_formulario.as_table}}
        </table>
        <input type="submit" value="Enviar">
    </form>
    
</div>

<style>    
    label {
        color:floralwhite;
    }
</style>
{% endblock %}




